.header {
    width: 80%;
    height: 7.19em;
    border-bottom: 1px solid rgb(201, 201, 201);
    display: flex;
    justify-content: center;

    .logolight {
        width: 70%;
        display: flex;
        align-items: center;
    }
    
    .icons {
        width: 30%;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .actives {
            border-top: 1px solid black;
        }

        .logout {
            font-size: 0.8rem;
            color:rgb(205, 138, 75);
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 768px) { 
    .header {
        .logolight {
            width: 85%;
        }
        .icons {
            width: 15%;
        }
    }
}
  