.acknowledgements {
    display: flex;
    justify-content: space-between;

    .info {
        width: 75%;
        margin: 1em 0em;

        .myThis, .myThat {
            width: auto;
            height: 2.81em;
            padding: 0 2em;
            font-size: 1rem;
            color: rgb(0, 111, 96);
            background: rgb(255, 255, 255);
            border: solid 1px rgb(0, 111, 96);
            border-radius: 5px;
            cursor: pointer;
        }

        .myPicked {
            width: auto;
            height: 2.81em;
            padding: 0 2em;
            font-size: 1rem;
            color: rgb(255, 255, 255);
            background: rgb(0, 111, 96);
            border: solid 1px rgb(0, 111, 96);
            border-radius: 5px;
        }
        //Ohter Profiles
        .this, .that {
            width: auto;
            height: 2.81em;
            padding: 0 2em;
            font-size: 1rem;
            color: rgb(255, 255, 255);
            background: rgb(209, 209, 209);
            border: solid 1px rgb(209, 209, 209);
            border-radius: 5px;
        }

        .picked {
            width: auto;
            height: 2.81em;
            padding: 0 2em;
            font-size: 1rem;
            color: rgb(255, 255, 255);
            background: rgb(0, 111, 96);
            border: solid 1px rgb(0, 111, 96);
            border-radius: 5px;
        }

        .line {
            visibility: hidden;
            margin: 0;
        }
    }

    .button {
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .byuser {
        width: 12%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        p {
            font-size: 0.75rem;
            color: rgb(201, 201, 201);
            line-height: 0.6rem;
            cursor: pointer;
        }
    }
}

/* Destop */
@media only screen and (min-width: 768px) { 
    .acknowledgements {
        .info {
            display: flex;
            flex-direction: row;
            align-items: center;

            .line {
                visibility: visible;
                display: inline-block;
                margin: 0 1.88em;
                color: rgb(201, 201, 201);
            }
        } 
    }
}