.button {
    font-family: 'Lily Script One', cursive;
    background-color: #CD8A4B;
    color: #ffffff;
    font-size: 2.25rem;
    width: 18.75rem;
    height: 4.6875rem;
    margin: 0.3125rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}