@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Work+Sans:wght@100;200;400&display=swap');

/* Welcome, signup/login */
.pagecontainer {
  background-image: url("../public/homebackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

/* Mobile */
.logodark {
  padding-left: 3em;
  padding-top: 3em;
  display: inline-block;
}

.homecontainer {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1 {
  font-family: 'Lily Script One', cursive;
  font-size: 1.3rem;
  line-height: 2.8125rem;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #e9e9e9;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Destop */
@media only screen and (min-width: 768px) {
  .logodark {
    padding-left: 6em;
    padding-top: 6em;
  }

  .h1 {
    width: 59.3125rem;
    font-size: 1.6rem;
    line-height: 4.125rem;
   
  }
  
  .buttons {
    flex-direction: row;
  }
}

/* Users */
.pageusercontainer {
  background: #ffffff;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



